<!--
{% set id=todo.id %}

{% if todo.completed %}
{% set icon='icons/task-done.svg' %}
{% set style='text-gray-400 dark:text-gray-600 line-through' %}
{% else %}
{% set icon='icons/task-active.svg' %}
{% set style='text-gray-700 dark:text-gray-300' %}
{% endif %}
-->
<tr
  hx-target="this"
  hx-swap="outerHTML swap:0.25s"
  class="bg-white hover:bg-gray-100 dark:bg-gray-900 dark:hover:bg-gray-800 hover:cursor-pointer flex lg:table-row flex-row lg:flex-row flex-wrap lg:flex-no-wrap mb-10 lg:mb-0"
>
  <td
    class="w-full lg:w-auto p-0 text-center border border-b border-gray-200 dark:border-gray-800 block lg:table-cell relative lg:static"
  >
    <div class="w-6 h-6 mx-4">
      <!-- {% if todo.completed %} -->
      <a
        hx-post="/todo?id={{id}}&action=restore"        
        hx-confirm="Are you sure you want to restore this task?"
        class="mr-2 cursor-pointer opacity-25 hover:opacity-100"
      >
        {% include 'icons/restore.svg' %}
      </a>
      <!-- {% else %} -->
      <a
        hx-post="/todo?id={{id}}&action=complete"
        class="mr-2 cursor-pointer opacity-50 hover:opacity-100"
      >
        {% include 'icons/check.svg' %}
      </a>
      <!-- {% endif %} -->
    </div>
  </td>
  <td
    class="w-full lg:w-auto p-3 px-4 text-left border border-b border-gray-200 dark:border-gray-800 block lg:table-cell relative lg:static"
  >
    <div class="group flex flex-row {{style}}">
      <span class="mr-4"> {% include icon %} </span>
      {{todo.title}}
    </div>
  </td>
  <td
    class="w-full lg:w-auto p-3 text-center border border-b border-gray-200 dark:border-gray-800 block lg:table-cell relative lg:static"
  >
    <!-- Delete task button -->
    <a
      hx-delete="/todo?id={{id}}"
      hx-confirm="{% if not todo.completed %}Are you sure you want to delete this task?{% endif %}"
      hx-swap="outerHTML swap:0.5s"
      class="w-6 h-6 cursor-pointer opacity-25 hover:opacity-100"
      >{% include 'icons/trash.svg' %}
    </a>
  </td>
</tr>
